.bg{
  &_top{
    background-image: url('../assets/images/top-player.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 18% 0%;
    animation-name: scale;
    animation-duration: 4s;
    animation-iteration-count: 1;
    }
  &_mid{
    background-image: url('../assets/images/mid-player.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 16% 14%;
  }
  &_bottom{
    background-image: url('../assets/images/bottom-player.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 85%;
  }
}
@keyframes scale {
  0% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}