@import 'fonts';

.header {
  width: 70%;
  margin: 0 auto;
  height: 80vh;
  &__wrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    font-family: 'Reckoner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 106%;
    margin: 0;
    padding: 0;
    // padding-right: .5em;
    letter-spacing: 0.1em;
  }
  &__nav {
    margin-top: 1.8vh;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.1em;
    &-list {
      list-style-type: none;
      margin-left: 0; 
      padding-left: 0;
      font-family: 'Bebas Neue', cursive;
      &__container {
        margin-bottom: .3em;
      }
      &__item {
        position: relative;
        transition:  all .6s ease-out;
        left: 0;
        &:last-child {
          margin-bottom: 0;
          
        }
        &:hover {
          left: 42px;
          cursor: pointer;
          transition:  all 1.2s ease-out;
        }
        &:hover:before {
          content: "";
          position: absolute;
          display: inline-block;
          left: -1.6em;
          top: 35%;
          width: 1.3em;
          height: .25em;
          background-color: $elements;
          pointer-events: none;
          transition:  all .01s ease-out;
        }
        
      }
    }
  }
}